# Ignore node_modules folder (npm packages)
node_modules/

# Ignore dist or build folders (compiled files)
dist/
build/

# Ignore Sass cache files
.sass-cache/

# Ignore system files
.DS_Store

# Ignore log files
*.log

# Optional: Ignore environment variables file (if you use one)
.env
